﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="margin-top: 300px;">
    <h1>Widget News</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Mobility!</h2>
    </div>
    <div class="col-md-4">
        <h2>Make Money!</h2>
    </div>
    <div class="col-md-4">
        <h2>Sell Stuff!</h2>
    </div>
</div>