﻿body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Baskerville Old Face';
}

h1 {
    padding: 10px;
    margin: 0px;
}

h2 {
   color: #0094ff;
   text-align: left;
    
}

hr {
    background-color: #0094ff;
}

a:hover {
    text-decoration: underline;
}

#wrapper {
    width: 900px;
    margin-left: 100px;
    margin-right: auto;

}

#header {
    margin-left: auto;
    margin-right: auto;
    color: #0094ff;
    width: 600px;
    background-color: #4d4d4d;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
}

#progTips {
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    background-color: #0094ff;
    color: #4d4d4d;
    font-weight: bold;
    border-bottom-left-radius: 15px;
}

#header a {
    color: #0094ff;
    text-decoration: none;
    font-size: 0.6em;
}

#header a:hover {
    text-decoration: underline
}
#progTips li {
    text-align: left;
}

#body {
    text-align: left;
}

#body p {
    margin-left: 50px;
}