﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/default.css" />
</head>
<body>
    <div id="wrapper">
        <div id="progTips">
            <h3>Programming Tips</h3>
            <ul>
                <li>You add code to a page using the &#64; character</li>
                <li>You enclose code blocks in braces</li>
                <li>Inside a block, you end each code statement with a semicolon</li>
                <li>You use variables to store values</li>
                <li>You enclose literal string values in double quotation marks</li>
                <li>Code is case sensitive</li>
                <li>Much of your coding involves objects</li>
                <li>You can write code that makes decisions</li>
            </ul>
        </div>
        <div id="header">
            <h1><a href="~/index.cshtml">Home</a>&emsp;Razor Tutorial&emsp;<a href="~/AddNumbers.cshtml">Add Numbers</a></h1>
        </div>
        <div id="body">
            <h2>Section 1</h2>
            @{ var total = 7; }
            @{ var myMessage = "Hello World!"; }

            <p>The value of your account is: @total</p>
            <p>The vale of myMesssage is: @myMessage</p>

            @{
                var greeting = "Welcome to our site!";
                var weekDay = DateTime.Now.DayOfWeek;
                var greetingMessage = greeting + " Today is: " + weekDay;
            }
            <p>The greeting is: @greetingMessage</p>
            <hr />
            <h2>Section 2</h2>
            @{ var theMonth = DateTime.Now.Month; }
            <p>The numeric value of the current month is @theMonth</p>

            @{
                var outsideTemp = 79;
                var weatherMessage = "Hello, it is " + outsideTemp + " degrees outside.";
            }
            <p>Today's Weather: @weatherMessage</p>
            <hr />
            <h2>Section 3</h2>
            @{ var welcomeMessage = "Welcome, new members!"; }
            <p>@welcomeMessage</p>
            @{ var year = DateTime.Now.Year; }
            <p>Welcome to our new members who joined in @year!</p>
            <hr />
            <h2>Section 4</h2>
            @{ var myString = "This is a string literal"; }
            <p>@myString</p>
            @{ var myFilePath = @"C:\MyFolder\";}
            <p>The path is: @myFilePath</p>
            @{ var myQuote = @"The person said: ""Hello, today is " + weekDay + @".""";}
            <p>Using quotations: @myQuote</p>
            <hr />
            <h2>Section 5</h2>
            <table border="1">
                <tr>
                    <td>Requested URL</td>
                    <td>Relative Path</td>
                    <td>Full Path</td>
                    <td>HTTP Request Type</td>
                </tr>
                <tr>
                    <td>@Request.Url</td>
                    <td>@Request.FilePath</td>
                    <td>@Request.MapPath(Request.FilePath)</td>
                    <td>@Request.RequestType</td>
                </tr>
            </table>
            <hr />
            <h2>Section 6</h2>
            @{
                var result = "";
                if (IsPost)
                {
                    result = "This page was posted using the Submit button.";
                }
                else
                {
                    result = "This page has not been submitted yet.";
                }
            }
            <form method="post" action="">
                <input type="Submit" name="Submit" value="Submit" />
                <p>@result</p>
            </form>
            <hr />
            <h2>Section 7</h2>
            @{
                // Assigning a string to a variable.
                var greeting1 = "Welcome!";

                // Assigning a number to a variable.
                var theCount = 3;

                // Assigning an expression to a variable.
                var monthlyTotal = theCount + 5;

                // Assigning a date value to a variable.
                var today = DateTime.Today;

                // Assigning the current page's URL to a variable.
                var myPath = this.Request.Url;

                // Declaring variables using explicit data types.
                string name = "Joe";
                int count = 5;
                DateTime tomorrow = DateTime.Now.AddDays(1);
            }
            @{
                // Embedding the value of a variable into HTML markup.
                <p>@greeting1, friends!</p>

                // Using variables as part of an inline expression.
                <p>The predicted annual total is: @( monthlyTotal * 12)</p>

                // Displaying the page URL with a variable.
                <p>The URL to this page is: @myPath</p>
            }
            <hr />
            <h2>Section 8</h2>
            @{
                var weekday = DateTime.Now.DayOfWeek;
                String dayOfWeek = weekday.ToString();
                var greeting2 = "";

                switch (dayOfWeek)
                {
                    case "Sunday":
                        greeting2 = "It's a superb Sunday!";
                        break;
                    case "Monday":
                        greeting2 = "It's a marvelous Monday!";
                        break;
                    case "Tuesday":
                        greeting2 = "It's a tremendous Tuesday!";
                        break;
                    case "Wednesday":
                        greeting2 = "Wild Wednesday is here!";
                        break;
                    case "Thursday":
                        greeting2 = "It's a thrilling Thursday";
                        break;
                    case "Friday":
                        greeting2 = "It's a freaky Friday";
                        break;
                    case "Saturday":
                        greeting2 = "It's a serene Saturday";
                        break;
                    default:
                        greeting2 = "It's some other day, oh well.";
                        break;
                }

                <p>Since it is @dayOfWeek, the message for today is: @greeting2</p>
            }
            <hr />
            <h2>Section 9</h2>
            @{
                string[] teamMembers = { "Matt", "Joanne", "Robert", "Nancy" };
                <p>The number of names in the teamMembers array: @teamMembers.Length </p>
                <p>Robert is now in position: @Array.IndexOf(teamMembers, "Robert")</p>
                <p>The array item at position 2 (zero-based) is @teamMembers[2]</p>
                <h3>Current order of team members in the list</h3>
                foreach (var person in teamMembers)
                {
                    <p>@person</p>
                }
                <h3>Reversed order of team members in the list</h3>
                Array.Reverse(teamMembers);
                foreach (var reversedItem in teamMembers)
                {
                    <p>@reversedItem</p>
                }
            }
            <hr />
        </div>
    </div>
</body>
</html>
